CREATE DATABASE [AdventureWorks_0006] ON  PRIMARY 
( NAME = N'AdventureWorks_0006', FILENAME = N'F:\Data\AdventureWorks_0006.mdf' , SIZE = 524288KB , FILEGROWTH = 524288KB )
 LOG ON 
( NAME = N'AdventureWorks_0006_log', FILENAME = N'E:\Logs\AdventureWorks_0006_log.ldf' , SIZE = 131072KB , FILEGROWTH = 131072KB )
GO
USE [AdventureWorks_0006]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [AdventureWorks_0006] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO





