/*┌─────────────────────────────────────────────────────────────────────────────────────────────┐*\
  │ TITLE: Creates a data profiling view for AdventureWorks_0007.dbo.DnbHotList_Archive                         │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ DESCRIPTION:                                                                                │
  │                                                                                             │
  │   Initially Auto-Generated by PowerShell Script:                                            │
  │     C:\Users\bwarner\Documents\PowerShell Scripts\GenerateDataProfilingView.ps1             │
  │   Function:                                                                                 │
  │     Write-DataProfileScript                                                                 │  
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ REVISION HISTORY:                                                                           │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │   DATE       AUTHOR          CHANGE DESCRIPTION                                             │
  │   ────────── ─────────────── ───────────────────────────────────────────────────────────────┤
  │   2018.10.19 bwarner         Initial Draft                                                  │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ UNIT TESTING SCRIPTS:                                                                       │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
     SELECT * FROM dbo.vw_DnbHotList_Archive_DataProfile ORDER BY 1 ASC
  
\*└─────────────────────────────────────────────────────────────────────────────────────────────┘*/

USE AdventureWorks_0007
GO

  /*┌─────────────────────────────────────────────────────────────────────┐*\
    │ Create View: dbo.vw_DnbHotList_Archive_DataProfile                  │
  \*└─────────────────────────────────────────────────────────────────────┘*/
  
  IF OBJECT_ID('dbo.vw_DnbHotList_Archive_DataProfile','view') IS NOT NULL
   DROP VIEW dbo.vw_DnbHotList_Archive_DataProfile
  GO

  CREATE VIEW
    dbo.vw_DnbHotList_Archive_DataProfile
  AS
  WITH 
      RowCnt AS
        (
          SELECT RowCnt = COUNT(*) 
          FROM [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
        )
    , ColumnByMetic AS
        (
          SELECT
              ColName
            , Metric
            , Value
          FROM
            (
                SELECT
                    ColName = 'Duns'
                  , Metric  = 'MaxLen'
                  , Value   = CAST(MAX(LEN([Duns])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'Duns'
                  , Metric  = 'MinLen'
                  , Value   = CAST(MIN(LEN([Duns])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'Duns'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [Duns]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'Duns'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([Duns]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'Duns'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([Duns]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  
                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'IsNumeric'
                  , Value   = CAST(CASE 
                                WHEN NumericRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      NumericRowCnt = SUM(ISNUMERIC(CAST([Duns] AS NVARCHAR(MAX))))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'NumericRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([Duns] AS NVARCHAR(MAX)))) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'IsInteger'
                  , Value   = CAST(CASE 
                                WHEN IntegerRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                     IntegerRowCnt = SUM(ISNUMERIC(CAST([Duns] AS NVARCHAR(MAX)) + '.0e0'))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'IntegerRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([Duns] AS NVARCHAR(MAX)) + '.0e0')) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([Duns])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([Duns])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'UnicodeCnt'
                  , Value   = CAST
                                (
                                  CASE 
                                    WHEN [Duns] <> CONVERT(VARCHAR(MAX), [Duns])
                                      THEN 1 
                                    ELSE 0 
                                  END                                
                                  AS VARCHAR(MAX)
                                )
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns'
                  , Metric  = 'UnicodePct'
                  , Value   = CAST(((CAST(x.UnicodeCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      UnicodeCnt = SUM(
                                        CASE 
                                          WHEN [Duns] <> CONVERT(VARCHAR(MAX), [Duns])
                                            THEN 1 
                                          ELSE 0 
                                        END
                                      )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive] 
                  ) x
                  CROSS JOIN
                  RowCnt rc                  
              
                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'MaxLen'
                  , Value   = CAST(MAX(LEN([HotList])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'HotList'
                  , Metric  = 'MinLen'
                  , Value   = CAST(MIN(LEN([HotList])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'HotList'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [HotList]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'HotList'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([HotList]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'HotList'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([HotList]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  
                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'IsNumeric'
                  , Value   = CAST(CASE 
                                WHEN NumericRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      NumericRowCnt = SUM(ISNUMERIC(CAST([HotList] AS NVARCHAR(MAX))))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'NumericRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([HotList] AS NVARCHAR(MAX)))) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'IsInteger'
                  , Value   = CAST(CASE 
                                WHEN IntegerRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                     IntegerRowCnt = SUM(ISNUMERIC(CAST([HotList] AS NVARCHAR(MAX)) + '.0e0'))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'IntegerRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([HotList] AS NVARCHAR(MAX)) + '.0e0')) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([HotList])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([HotList])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'UnicodeCnt'
                  , Value   = CAST
                                (
                                  CASE 
                                    WHEN [HotList] <> CONVERT(VARCHAR(MAX), [HotList])
                                      THEN 1 
                                    ELSE 0 
                                  END                                
                                  AS VARCHAR(MAX)
                                )
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'HotList'
                  , Metric  = 'UnicodePct'
                  , Value   = CAST(((CAST(x.UnicodeCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      UnicodeCnt = SUM(
                                        CASE 
                                          WHEN [HotList] <> CONVERT(VARCHAR(MAX), [HotList])
                                            THEN 1 
                                          ELSE 0 
                                        END
                                      )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive] 
                  ) x
                  CROSS JOIN
                  RowCnt rc                  
              
                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MaxLen'
                  , Value   = CAST(MAX(LEN([startDate])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MinLen'
                  , Value   = CAST(MIN(LEN([startDate])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  
                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'IsNumeric'
                  , Value   = CAST(CASE 
                                WHEN NumericRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      NumericRowCnt = SUM(ISNUMERIC(CAST([startDate] AS NVARCHAR(MAX))))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'NumericRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([startDate] AS NVARCHAR(MAX)))) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'IsInteger'
                  , Value   = CAST(CASE 
                                WHEN IntegerRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                     IntegerRowCnt = SUM(ISNUMERIC(CAST([startDate] AS NVARCHAR(MAX)) + '.0e0'))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'IntegerRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([startDate] AS NVARCHAR(MAX)) + '.0e0')) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([startDate])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([startDate])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'UnicodeCnt'
                  , Value   = CAST
                                (
                                  CASE 
                                    WHEN [startDate] <> CONVERT(VARCHAR(MAX), [startDate])
                                      THEN 1 
                                    ELSE 0 
                                  END                                
                                  AS VARCHAR(MAX)
                                )
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'UnicodePct'
                  , Value   = CAST(((CAST(x.UnicodeCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      UnicodeCnt = SUM(
                                        CASE 
                                          WHEN [startDate] <> CONVERT(VARCHAR(MAX), [startDate])
                                            THEN 1 
                                          ELSE 0 
                                        END
                                      )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive] 
                  ) x
                  CROSS JOIN
                  RowCnt rc                  
              
                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MaxLen'
                  , Value   = CAST(MAX(LEN([endDate])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MinLen'
                  , Value   = CAST(MIN(LEN([endDate])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  
                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'IsNumeric'
                  , Value   = CAST(CASE 
                                WHEN NumericRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      NumericRowCnt = SUM(ISNUMERIC(CAST([endDate] AS NVARCHAR(MAX))))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'NumericRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([endDate] AS NVARCHAR(MAX)))) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'IsInteger'
                  , Value   = CAST(CASE 
                                WHEN IntegerRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                     IntegerRowCnt = SUM(ISNUMERIC(CAST([endDate] AS NVARCHAR(MAX)) + '.0e0'))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'IntegerRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([endDate] AS NVARCHAR(MAX)) + '.0e0')) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([endDate])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([endDate])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'UnicodeCnt'
                  , Value   = CAST
                                (
                                  CASE 
                                    WHEN [endDate] <> CONVERT(VARCHAR(MAX), [endDate])
                                      THEN 1 
                                    ELSE 0 
                                  END                                
                                  AS VARCHAR(MAX)
                                )
                FROM
                  [AdventureWorks_0007].[dbo].[DnbHotList_Archive]

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'UnicodePct'
                  , Value   = CAST(((CAST(x.UnicodeCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      UnicodeCnt = SUM(
                                        CASE 
                                          WHEN [endDate] <> CONVERT(VARCHAR(MAX), [endDate])
                                            THEN 1 
                                          ELSE 0 
                                        END
                                      )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbHotList_Archive] 
                  ) x
                  CROSS JOIN
                  RowCnt rc                  
            ) x
        )

    , ByColPivot AS
        (
          SELECT
              ColName
            , MaxLen
            , MinLen
            , MaxVal
            , MinVal
            , DistinctValCnt
            , [IsNumeric]
            , IsInteger
            , IntegerRowCnt
            , NumericRowCnt
            , BlankOrNullCount
            , BlankOrNullPct
            , UnicodeCnt
            , UnicodePct
          FROM
            ColumnByMetic
          PIVOT 
            (
              MAX([Value])
              FOR Metric IN
                (
                    [MaxLen]
                  , [MinLen]
                  , [MaxVal]
                  , [MinVal]
                  , [DistinctValCnt]
                  , [IsNumeric]
                  , [IsInteger]
                  , [IntegerRowCnt]
                  , [NumericRowCnt]
                  , [BlankOrNullCount]
                  , [BlankOrNullPct]
                  , [UnicodeCnt]
                  , [UnicodePct]
                )
            ) x        
        )
 
    , SmallestSquareLen_OrdPos_Calc AS
        (
          SELECT
              OrdinalPos = isc.ORDINAL_POSITION
            , piv.*
            , SmallestSquareLen = CASE 
                                    WHEN MaxLen < 16
                                      THEN LTRIM(RTRIM(STR(MaxLen)))
                                    WHEN MaxLen < 24
                                      THEN '32'
                                    WHEN MaxLen < 48
                                      THEN '64'
                                    WHEN MaxLen < 96
                                      THEN '128'
                                    WHEN MaxLen < 192
                                      THEN '256'
                                    WHEN MaxLen < 384
                                      THEN '512'
                                    WHEN MaxLen < 768
                                      THEN '1024'
                                    WHEN MaxLen < 1536
                                      THEN '2048'
                                    WHEN MaxLen < 1536
                                      THEN '2048'
                                    WHEN MaxLen < 3072
                                      THEN '4096'
                                    WHEN MaxLen < 6144
                                      THEN '8192'
                                    ELSE 'MAX'
                                  END
          FROM
            ByColPivot piv            
            LEFT JOIN [AdventureWorks_0007].INFORMATION_SCHEMA.COLUMNS isc            
              ON piv.ColName = isc.COLUMN_NAME
              AND isc.TABLE_SCHEMA  = 'dbo'
              AND isc.TABLE_NAME    = 'DnbHotList_Archive'     
        )
    , CharTypeDefStr_Calc AS
        (
          SELECT
              calc.*
            , CharTypeDefStr  = CASE 
                                  WHEN CAST(UnicodePct AS FLOAT) = 0.0 
                                    THEN 'VARCHAR(' + SmallestSquareLen + ')'
                                  ELSE
                                    'NVARCHAR(' + SmallestSquareLen + ')'
                                  END
          FROM
            SmallestSquareLen_OrdPos_Calc calc  
        )     

    , Nullability_Calc AS
        (
          SELECT
              calc.*
            , Nullability  = CASE 
                                  WHEN CAST(BlankOrNullPct AS FLOAT) = 100.0 
                                    THEN 'NULL'
                                  ELSE
                                    'NOT NULL'
                                  END
          FROM
            CharTypeDefStr_Calc calc
        )             
        
  SELECT
      calc.OrdinalPos
    , calc.ColName
    , calc.MaxLen
    , calc.MinLen
    , calc.MaxVal
    , calc.MinVal
    , calc.DistinctValCnt
    , calc.IsNumeric
    , calc.IsInteger
    , calc.IntegerRowCnt    
    , calc.NumericRowCnt
    , calc.BlankOrNullCount
    , calc.BlankOrNullPct
    , calc.UnicodeCnt
    , calc.UnicodePct
    --, calc.SmallestSquareLen
    , TypeDef  = ', [' + ColName + '] ' + CASE 
                                            WHEN IsNumeric = 'Yes'
                                              THEN 
                                                CASE 
                                                  WHEN IsInteger = 'Yes'
                                                    THEN
                                                      CASE 
                                                        WHEN CAST(MaxVal AS BIGINT) < 204
                                                          THEN 'TINYINT'
                                                        WHEN CAST(MaxVal AS BIGINT) < 26213
                                                          THEN 'SMALLINT'
                                                        WHEN CAST(MaxVal AS BIGINT) < 1717986917
                                                          THEN 'INT'
                                                        ELSE
                                                          'BIGINT'
                                                      END
                                                    ELSE 'NUMERIC(19,6)'
                                                  END
                                            ELSE CharTypeDefStr
                                          END + ' ' + Nullability                     
  FROM
    Nullability_Calc calc

GO





