/*┌─────────────────────────────────────────────────────────────────────────────────────────────┐*\
  │ TITLE: Creates a data profiling view for AdventureWorks_0006.imp.MenuUniverseExtract_T1_IFG_Matched  │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ DESCRIPTION:                                                                                │
  │                                                                                             │
  │   Initially Auto-Generated by PowerShell Script:                                            │
  │     C:\Users\bwarner\Documents\PowerShell Scripts\GenerateDataProfilingView.ps1             │
  │   Function:                                                                                 │
  │     Write-TsqlScript                                                                        │  
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ REVISION HISTORY:                                                                           │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │   DATE       AUTHOR          CHANGE DESCRIPTION                                             │
  │   ────────── ─────────────── ───────────────────────────────────────────────────────────────┤
  │   2018.10.19 bwarner         Initial Draft                                                  │
\*└─────────────────────────────────────────────────────────────────────────────────────────────┘*/

USE AdventureWorks_0006
GO

  /*┌─────────────────────────────────────────────────────────────────────┐*\
    │ Create View: dbo.vw_MenuUniverseExtract_T1_IFG_Matched_DataProfile       │
  \*└─────────────────────────────────────────────────────────────────────┘*/
  
  IF OBJECT_ID('dbo.vw_MenuUniverseExtract_T1_IFG_Matched_DataProfile','view') IS NOT NULL
   DROP VIEW dbo.vw_MenuUniverseExtract_T1_IFG_Matched_DataProfile
  GO

  CREATE VIEW
    dbo.vw_MenuUniverseExtract_T1_IFG_Matched_DataProfile
  AS
  SELECT
      [MonthCount - MaxLen] = MAX(LEN([MonthCount]))
    , [MonthCount - MinLen] = MIN(LEN([MonthCount]))
    , [MonthCount - MaxVal] = MAX([MonthCount])        
    , [MonthCount - MinVal] = MIN([MonthCount])
    , [MonthCount - IsNumeric] = CASE WHEN SUM(ISNUMERIC([MonthCount])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [MonthCount - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([MonthCount])),'') = '' THEN 1 ELSE 0 END)   
    , [LOCATION NUMBER OF DEBTOR - MaxLen] = MAX(LEN([LOCATION NUMBER OF DEBTOR]))
    , [LOCATION NUMBER OF DEBTOR - MinLen] = MIN(LEN([LOCATION NUMBER OF DEBTOR]))
    , [LOCATION NUMBER OF DEBTOR - MaxVal] = MAX([LOCATION NUMBER OF DEBTOR])        
    , [LOCATION NUMBER OF DEBTOR - MinVal] = MIN([LOCATION NUMBER OF DEBTOR])
    , [LOCATION NUMBER OF DEBTOR - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LOCATION NUMBER OF DEBTOR])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LOCATION NUMBER OF DEBTOR - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LOCATION NUMBER OF DEBTOR])),'') = '' THEN 1 ELSE 0 END) 
    , [INFOUSA CONTACT NAME - MaxLen] = MAX(LEN([INFOUSA CONTACT NAME]))
    , [INFOUSA CONTACT NAME - MinLen] = MIN(LEN([INFOUSA CONTACT NAME]))
    , [INFOUSA CONTACT NAME - MaxVal] = MAX([INFOUSA CONTACT NAME])        
    , [INFOUSA CONTACT NAME - MinVal] = MIN([INFOUSA CONTACT NAME])
    , [INFOUSA CONTACT NAME - IsNumeric] = CASE WHEN SUM(ISNUMERIC([INFOUSA CONTACT NAME])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [INFOUSA CONTACT NAME - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([INFOUSA CONTACT NAME])),'') = '' THEN 1 ELSE 0 END) 
    , [FirstName - MaxLen] = MAX(LEN([FirstName]))
    , [FirstName - MinLen] = MIN(LEN([FirstName]))
    , [FirstName - MaxVal] = MAX([FirstName])        
    , [FirstName - MinVal] = MIN([FirstName])
    , [FirstName - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FirstName])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FirstName - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FirstName])),'') = '' THEN 1 ELSE 0 END) 
    , [LastName - MaxLen] = MAX(LEN([LastName]))
    , [LastName - MinLen] = MIN(LEN([LastName]))
    , [LastName - MaxVal] = MAX([LastName])        
    , [LastName - MinVal] = MIN([LastName])
    , [LastName - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LastName])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LastName - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LastName])),'') = '' THEN 1 ELSE 0 END) 
    , [Business Email Flag - MaxLen] = MAX(LEN([Business Email Flag]))
    , [Business Email Flag - MinLen] = MIN(LEN([Business Email Flag]))
    , [Business Email Flag - MaxVal] = MAX([Business Email Flag])        
    , [Business Email Flag - MinVal] = MIN([Business Email Flag])
    , [Business Email Flag - IsNumeric] = CASE WHEN SUM(ISNUMERIC([Business Email Flag])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [Business Email Flag - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([Business Email Flag])),'') = '' THEN 1 ELSE 0 END) 
    , [CONTACT TITLE CODE - MaxLen] = MAX(LEN([CONTACT TITLE CODE]))
    , [CONTACT TITLE CODE - MinLen] = MIN(LEN([CONTACT TITLE CODE]))
    , [CONTACT TITLE CODE - MaxVal] = MAX([CONTACT TITLE CODE])        
    , [CONTACT TITLE CODE - MinVal] = MIN([CONTACT TITLE CODE])
    , [CONTACT TITLE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([CONTACT TITLE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [CONTACT TITLE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([CONTACT TITLE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [CONTACT TITLE CODE DESCRIPTION - MaxLen] = MAX(LEN([CONTACT TITLE CODE DESCRIPTION]))
    , [CONTACT TITLE CODE DESCRIPTION - MinLen] = MIN(LEN([CONTACT TITLE CODE DESCRIPTION]))
    , [CONTACT TITLE CODE DESCRIPTION - MaxVal] = MAX([CONTACT TITLE CODE DESCRIPTION])        
    , [CONTACT TITLE CODE DESCRIPTION - MinVal] = MIN([CONTACT TITLE CODE DESCRIPTION])
    , [CONTACT TITLE CODE DESCRIPTION - IsNumeric] = CASE WHEN SUM(ISNUMERIC([CONTACT TITLE CODE DESCRIPTION])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [CONTACT TITLE CODE DESCRIPTION - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([CONTACT TITLE CODE DESCRIPTION])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA COMPANY NAME - MaxLen] = MAX(LEN([IUSA COMPANY NAME]))
    , [IUSA COMPANY NAME - MinLen] = MIN(LEN([IUSA COMPANY NAME]))
    , [IUSA COMPANY NAME - MaxVal] = MAX([IUSA COMPANY NAME])        
    , [IUSA COMPANY NAME - MinVal] = MIN([IUSA COMPANY NAME])
    , [IUSA COMPANY NAME - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA COMPANY NAME])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA COMPANY NAME - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA COMPANY NAME])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAILING ADDRESS - MaxLen] = MAX(LEN([IUSA MAILING ADDRESS]))
    , [IUSA MAILING ADDRESS - MinLen] = MIN(LEN([IUSA MAILING ADDRESS]))
    , [IUSA MAILING ADDRESS - MaxVal] = MAX([IUSA MAILING ADDRESS])        
    , [IUSA MAILING ADDRESS - MinVal] = MIN([IUSA MAILING ADDRESS])
    , [IUSA MAILING ADDRESS - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAILING ADDRESS])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAILING ADDRESS - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAILING ADDRESS])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL CITY NAME - MaxLen] = MAX(LEN([IUSA MAIL CITY NAME]))
    , [IUSA MAIL CITY NAME - MinLen] = MIN(LEN([IUSA MAIL CITY NAME]))
    , [IUSA MAIL CITY NAME - MaxVal] = MAX([IUSA MAIL CITY NAME])        
    , [IUSA MAIL CITY NAME - MinVal] = MIN([IUSA MAIL CITY NAME])
    , [IUSA MAIL CITY NAME - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL CITY NAME])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL CITY NAME - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL CITY NAME])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL STATE ABBREV - MaxLen] = MAX(LEN([IUSA MAIL STATE ABBREV]))
    , [IUSA MAIL STATE ABBREV - MinLen] = MIN(LEN([IUSA MAIL STATE ABBREV]))
    , [IUSA MAIL STATE ABBREV - MaxVal] = MAX([IUSA MAIL STATE ABBREV])        
    , [IUSA MAIL STATE ABBREV - MinVal] = MIN([IUSA MAIL STATE ABBREV])
    , [IUSA MAIL STATE ABBREV - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL STATE ABBREV])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL STATE ABBREV - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL STATE ABBREV])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL ZIP - MaxLen] = MAX(LEN([IUSA MAIL ZIP]))
    , [IUSA MAIL ZIP - MinLen] = MIN(LEN([IUSA MAIL ZIP]))
    , [IUSA MAIL ZIP - MaxVal] = MAX([IUSA MAIL ZIP])        
    , [IUSA MAIL ZIP - MinVal] = MIN([IUSA MAIL ZIP])
    , [IUSA MAIL ZIP - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL ZIP])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL ZIP - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL ZIP])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL ZIP4 - MaxLen] = MAX(LEN([IUSA MAIL ZIP4]))
    , [IUSA MAIL ZIP4 - MinLen] = MIN(LEN([IUSA MAIL ZIP4]))
    , [IUSA MAIL ZIP4 - MaxVal] = MAX([IUSA MAIL ZIP4])        
    , [IUSA MAIL ZIP4 - MinVal] = MIN([IUSA MAIL ZIP4])
    , [IUSA MAIL ZIP4 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL ZIP4])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL ZIP4 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL ZIP4])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL ZIP MERGE - MaxLen] = MAX(LEN([IUSA MAIL ZIP MERGE]))
    , [IUSA MAIL ZIP MERGE - MinLen] = MIN(LEN([IUSA MAIL ZIP MERGE]))
    , [IUSA MAIL ZIP MERGE - MaxVal] = MAX([IUSA MAIL ZIP MERGE])        
    , [IUSA MAIL ZIP MERGE - MinVal] = MIN([IUSA MAIL ZIP MERGE])
    , [IUSA MAIL ZIP MERGE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL ZIP MERGE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL ZIP MERGE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL ZIP MERGE])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL CRCODE - MaxLen] = MAX(LEN([IUSA MAIL CRCODE]))
    , [IUSA MAIL CRCODE - MinLen] = MIN(LEN([IUSA MAIL CRCODE]))
    , [IUSA MAIL CRCODE - MaxVal] = MAX([IUSA MAIL CRCODE])        
    , [IUSA MAIL CRCODE - MinVal] = MIN([IUSA MAIL CRCODE])
    , [IUSA MAIL CRCODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL CRCODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL CRCODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL CRCODE])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL STATE CODE - MaxLen] = MAX(LEN([IUSA MAIL STATE CODE]))
    , [IUSA MAIL STATE CODE - MinLen] = MIN(LEN([IUSA MAIL STATE CODE]))
    , [IUSA MAIL STATE CODE - MaxVal] = MAX([IUSA MAIL STATE CODE])        
    , [IUSA MAIL STATE CODE - MinVal] = MIN([IUSA MAIL STATE CODE])
    , [IUSA MAIL STATE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL STATE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL STATE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL STATE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA MAIL COUNTY CODE - MaxLen] = MAX(LEN([IUSA MAIL COUNTY CODE]))
    , [IUSA MAIL COUNTY CODE - MinLen] = MIN(LEN([IUSA MAIL COUNTY CODE]))
    , [IUSA MAIL COUNTY CODE - MaxVal] = MAX([IUSA MAIL COUNTY CODE])        
    , [IUSA MAIL COUNTY CODE - MinVal] = MIN([IUSA MAIL COUNTY CODE])
    , [IUSA MAIL COUNTY CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA MAIL COUNTY CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA MAIL COUNTY CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA MAIL COUNTY CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA COUNTY DESC - MaxLen] = MAX(LEN([IUSA COUNTY DESC]))
    , [IUSA COUNTY DESC - MinLen] = MIN(LEN([IUSA COUNTY DESC]))
    , [IUSA COUNTY DESC - MaxVal] = MAX([IUSA COUNTY DESC])        
    , [IUSA COUNTY DESC - MinVal] = MIN([IUSA COUNTY DESC])
    , [IUSA COUNTY DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA COUNTY DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA COUNTY DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA COUNTY DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [MSA CODE - MaxLen] = MAX(LEN([MSA CODE]))
    , [MSA CODE - MinLen] = MIN(LEN([MSA CODE]))
    , [MSA CODE - MaxVal] = MAX([MSA CODE])        
    , [MSA CODE - MinVal] = MIN([MSA CODE])
    , [MSA CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([MSA CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [MSA CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([MSA CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [MSA DESCRIPTION - MaxLen] = MAX(LEN([MSA DESCRIPTION]))
    , [MSA DESCRIPTION - MinLen] = MIN(LEN([MSA DESCRIPTION]))
    , [MSA DESCRIPTION - MaxVal] = MAX([MSA DESCRIPTION])        
    , [MSA DESCRIPTION - MinVal] = MIN([MSA DESCRIPTION])
    , [MSA DESCRIPTION - IsNumeric] = CASE WHEN SUM(ISNUMERIC([MSA DESCRIPTION])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [MSA DESCRIPTION - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([MSA DESCRIPTION])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA CENSUS TRACT - MaxLen] = MAX(LEN([IUSA CENSUS TRACT]))
    , [IUSA CENSUS TRACT - MinLen] = MIN(LEN([IUSA CENSUS TRACT]))
    , [IUSA CENSUS TRACT - MaxVal] = MAX([IUSA CENSUS TRACT])        
    , [IUSA CENSUS TRACT - MinVal] = MIN([IUSA CENSUS TRACT])
    , [IUSA CENSUS TRACT - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA CENSUS TRACT])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA CENSUS TRACT - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA CENSUS TRACT])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA BLOCK GROUP - MaxLen] = MAX(LEN([IUSA BLOCK GROUP]))
    , [IUSA BLOCK GROUP - MinLen] = MIN(LEN([IUSA BLOCK GROUP]))
    , [IUSA BLOCK GROUP - MaxVal] = MAX([IUSA BLOCK GROUP])        
    , [IUSA BLOCK GROUP - MinVal] = MIN([IUSA BLOCK GROUP])
    , [IUSA BLOCK GROUP - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA BLOCK GROUP])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA BLOCK GROUP - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA BLOCK GROUP])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA PHONE NUMBER - MaxLen] = MAX(LEN([IUSA PHONE NUMBER]))
    , [IUSA PHONE NUMBER - MinLen] = MIN(LEN([IUSA PHONE NUMBER]))
    , [IUSA PHONE NUMBER - MaxVal] = MAX([IUSA PHONE NUMBER])        
    , [IUSA PHONE NUMBER - MinVal] = MIN([IUSA PHONE NUMBER])
    , [IUSA PHONE NUMBER - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA PHONE NUMBER])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA PHONE NUMBER - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA PHONE NUMBER])),'') = '' THEN 1 ELSE 0 END) 
    , [FAXNUMO - MaxLen] = MAX(LEN([FAXNUMO]))
    , [FAXNUMO - MinLen] = MIN(LEN([FAXNUMO]))
    , [FAXNUMO - MaxVal] = MAX([FAXNUMO])        
    , [FAXNUMO - MinVal] = MIN([FAXNUMO])
    , [FAXNUMO - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FAXNUMO])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FAXNUMO - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FAXNUMO])),'') = '' THEN 1 ELSE 0 END) 
    , [PRIMARY SIC CODE - MaxLen] = MAX(LEN([PRIMARY SIC CODE]))
    , [PRIMARY SIC CODE - MinLen] = MIN(LEN([PRIMARY SIC CODE]))
    , [PRIMARY SIC CODE - MaxVal] = MAX([PRIMARY SIC CODE])        
    , [PRIMARY SIC CODE - MinVal] = MIN([PRIMARY SIC CODE])
    , [PRIMARY SIC CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([PRIMARY SIC CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [PRIMARY SIC CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([PRIMARY SIC CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [PRIMARY SIC DESC - MaxLen] = MAX(LEN([PRIMARY SIC DESC]))
    , [PRIMARY SIC DESC - MinLen] = MIN(LEN([PRIMARY SIC DESC]))
    , [PRIMARY SIC DESC - MaxVal] = MAX([PRIMARY SIC DESC])        
    , [PRIMARY SIC DESC - MinVal] = MIN([PRIMARY SIC DESC])
    , [PRIMARY SIC DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([PRIMARY SIC DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [PRIMARY SIC DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([PRIMARY SIC DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC CODE 1 - MaxLen] = MAX(LEN([SEC SIC CODE 1]))
    , [SEC SIC CODE 1 - MinLen] = MIN(LEN([SEC SIC CODE 1]))
    , [SEC SIC CODE 1 - MaxVal] = MAX([SEC SIC CODE 1])        
    , [SEC SIC CODE 1 - MinVal] = MIN([SEC SIC CODE 1])
    , [SEC SIC CODE 1 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC CODE 1])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC CODE 1 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC CODE 1])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC DESC 1 - MaxLen] = MAX(LEN([SEC SIC DESC 1]))
    , [SEC SIC DESC 1 - MinLen] = MIN(LEN([SEC SIC DESC 1]))
    , [SEC SIC DESC 1 - MaxVal] = MAX([SEC SIC DESC 1])        
    , [SEC SIC DESC 1 - MinVal] = MIN([SEC SIC DESC 1])
    , [SEC SIC DESC 1 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC DESC 1])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC DESC 1 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC DESC 1])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC CODE 2 - MaxLen] = MAX(LEN([SEC SIC CODE 2]))
    , [SEC SIC CODE 2 - MinLen] = MIN(LEN([SEC SIC CODE 2]))
    , [SEC SIC CODE 2 - MaxVal] = MAX([SEC SIC CODE 2])        
    , [SEC SIC CODE 2 - MinVal] = MIN([SEC SIC CODE 2])
    , [SEC SIC CODE 2 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC CODE 2])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC CODE 2 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC CODE 2])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC DESC 2 - MaxLen] = MAX(LEN([SEC SIC DESC 2]))
    , [SEC SIC DESC 2 - MinLen] = MIN(LEN([SEC SIC DESC 2]))
    , [SEC SIC DESC 2 - MaxVal] = MAX([SEC SIC DESC 2])        
    , [SEC SIC DESC 2 - MinVal] = MIN([SEC SIC DESC 2])
    , [SEC SIC DESC 2 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC DESC 2])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC DESC 2 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC DESC 2])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC CODE 3 - MaxLen] = MAX(LEN([SEC SIC CODE 3]))
    , [SEC SIC CODE 3 - MinLen] = MIN(LEN([SEC SIC CODE 3]))
    , [SEC SIC CODE 3 - MaxVal] = MAX([SEC SIC CODE 3])        
    , [SEC SIC CODE 3 - MinVal] = MIN([SEC SIC CODE 3])
    , [SEC SIC CODE 3 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC CODE 3])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC CODE 3 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC CODE 3])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC DESC 3 - MaxLen] = MAX(LEN([SEC SIC DESC 3]))
    , [SEC SIC DESC 3 - MinLen] = MIN(LEN([SEC SIC DESC 3]))
    , [SEC SIC DESC 3 - MaxVal] = MAX([SEC SIC DESC 3])        
    , [SEC SIC DESC 3 - MinVal] = MIN([SEC SIC DESC 3])
    , [SEC SIC DESC 3 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC DESC 3])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC DESC 3 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC DESC 3])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC CODE 4 - MaxLen] = MAX(LEN([SEC SIC CODE 4]))
    , [SEC SIC CODE 4 - MinLen] = MIN(LEN([SEC SIC CODE 4]))
    , [SEC SIC CODE 4 - MaxVal] = MAX([SEC SIC CODE 4])        
    , [SEC SIC CODE 4 - MinVal] = MIN([SEC SIC CODE 4])
    , [SEC SIC CODE 4 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC CODE 4])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC CODE 4 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC CODE 4])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC SIC DESC 4 - MaxLen] = MAX(LEN([SEC SIC DESC 4]))
    , [SEC SIC DESC 4 - MinLen] = MIN(LEN([SEC SIC DESC 4]))
    , [SEC SIC DESC 4 - MaxVal] = MAX([SEC SIC DESC 4])        
    , [SEC SIC DESC 4 - MinVal] = MIN([SEC SIC DESC 4])
    , [SEC SIC DESC 4 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC SIC DESC 4])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC SIC DESC 4 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC SIC DESC 4])),'') = '' THEN 1 ELSE 0 END) 
    , [NAICS CODE - MaxLen] = MAX(LEN([NAICS CODE]))
    , [NAICS CODE - MinLen] = MIN(LEN([NAICS CODE]))
    , [NAICS CODE - MaxVal] = MAX([NAICS CODE])        
    , [NAICS CODE - MinVal] = MIN([NAICS CODE])
    , [NAICS CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([NAICS CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [NAICS CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([NAICS CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [NAICS DESCRIPTION - MaxLen] = MAX(LEN([NAICS DESCRIPTION]))
    , [NAICS DESCRIPTION - MinLen] = MIN(LEN([NAICS DESCRIPTION]))
    , [NAICS DESCRIPTION - MaxVal] = MAX([NAICS DESCRIPTION])        
    , [NAICS DESCRIPTION - MinVal] = MIN([NAICS DESCRIPTION])
    , [NAICS DESCRIPTION - IsNumeric] = CASE WHEN SUM(ISNUMERIC([NAICS DESCRIPTION])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [NAICS DESCRIPTION - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([NAICS DESCRIPTION])),'') = '' THEN 1 ELSE 0 END) 
    , [LOC EMP SIZE CODE - MaxLen] = MAX(LEN([LOC EMP SIZE CODE]))
    , [LOC EMP SIZE CODE - MinLen] = MIN(LEN([LOC EMP SIZE CODE]))
    , [LOC EMP SIZE CODE - MaxVal] = MAX([LOC EMP SIZE CODE])        
    , [LOC EMP SIZE CODE - MinVal] = MIN([LOC EMP SIZE CODE])
    , [LOC EMP SIZE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LOC EMP SIZE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LOC EMP SIZE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LOC EMP SIZE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [LOC EMP SIZE DESC - MaxLen] = MAX(LEN([LOC EMP SIZE DESC]))
    , [LOC EMP SIZE DESC - MinLen] = MIN(LEN([LOC EMP SIZE DESC]))
    , [LOC EMP SIZE DESC - MaxVal] = MAX([LOC EMP SIZE DESC])        
    , [LOC EMP SIZE DESC - MinVal] = MIN([LOC EMP SIZE DESC])
    , [LOC EMP SIZE DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LOC EMP SIZE DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LOC EMP SIZE DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LOC EMP SIZE DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [ACTUAL LOCATION EMPLOYEE SIZE - MaxLen] = MAX(LEN([ACTUAL LOCATION EMPLOYEE SIZE]))
    , [ACTUAL LOCATION EMPLOYEE SIZE - MinLen] = MIN(LEN([ACTUAL LOCATION EMPLOYEE SIZE]))
    , [ACTUAL LOCATION EMPLOYEE SIZE - MaxVal] = MAX([ACTUAL LOCATION EMPLOYEE SIZE])        
    , [ACTUAL LOCATION EMPLOYEE SIZE - MinVal] = MIN([ACTUAL LOCATION EMPLOYEE SIZE])
    , [ACTUAL LOCATION EMPLOYEE SIZE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([ACTUAL LOCATION EMPLOYEE SIZE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [ACTUAL LOCATION EMPLOYEE SIZE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([ACTUAL LOCATION EMPLOYEE SIZE])),'') = '' THEN 1 ELSE 0 END) 
    , [LOC SALES VOLUME CODE - MaxLen] = MAX(LEN([LOC SALES VOLUME CODE]))
    , [LOC SALES VOLUME CODE - MinLen] = MIN(LEN([LOC SALES VOLUME CODE]))
    , [LOC SALES VOLUME CODE - MaxVal] = MAX([LOC SALES VOLUME CODE])        
    , [LOC SALES VOLUME CODE - MinVal] = MIN([LOC SALES VOLUME CODE])
    , [LOC SALES VOLUME CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LOC SALES VOLUME CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LOC SALES VOLUME CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LOC SALES VOLUME CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [LOCATION SALES VOL DESC - MaxLen] = MAX(LEN([LOCATION SALES VOL DESC]))
    , [LOCATION SALES VOL DESC - MinLen] = MIN(LEN([LOCATION SALES VOL DESC]))
    , [LOCATION SALES VOL DESC - MaxVal] = MAX([LOCATION SALES VOL DESC])        
    , [LOCATION SALES VOL DESC - MinVal] = MIN([LOCATION SALES VOL DESC])
    , [LOCATION SALES VOL DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([LOCATION SALES VOL DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [LOCATION SALES VOL DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([LOCATION SALES VOL DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [ACTUAL LOCATION SALES VOLUME - MaxLen] = MAX(LEN([ACTUAL LOCATION SALES VOLUME]))
    , [ACTUAL LOCATION SALES VOLUME - MinLen] = MIN(LEN([ACTUAL LOCATION SALES VOLUME]))
    , [ACTUAL LOCATION SALES VOLUME - MaxVal] = MAX([ACTUAL LOCATION SALES VOLUME])        
    , [ACTUAL LOCATION SALES VOLUME - MinVal] = MIN([ACTUAL LOCATION SALES VOLUME])
    , [ACTUAL LOCATION SALES VOLUME - IsNumeric] = CASE WHEN SUM(ISNUMERIC([ACTUAL LOCATION SALES VOLUME])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [ACTUAL LOCATION SALES VOLUME - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([ACTUAL LOCATION SALES VOLUME])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA SUBSIDIARY ID - MaxLen] = MAX(LEN([IUSA SUBSIDIARY ID]))
    , [IUSA SUBSIDIARY ID - MinLen] = MIN(LEN([IUSA SUBSIDIARY ID]))
    , [IUSA SUBSIDIARY ID - MaxVal] = MAX([IUSA SUBSIDIARY ID])        
    , [IUSA SUBSIDIARY ID - MinVal] = MIN([IUSA SUBSIDIARY ID])
    , [IUSA SUBSIDIARY ID - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA SUBSIDIARY ID])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA SUBSIDIARY ID - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA SUBSIDIARY ID])),'') = '' THEN 1 ELSE 0 END) 
    , [IUSA PARENT ID - MaxLen] = MAX(LEN([IUSA PARENT ID]))
    , [IUSA PARENT ID - MinLen] = MIN(LEN([IUSA PARENT ID]))
    , [IUSA PARENT ID - MaxVal] = MAX([IUSA PARENT ID])        
    , [IUSA PARENT ID - MinVal] = MIN([IUSA PARENT ID])
    , [IUSA PARENT ID - IsNumeric] = CASE WHEN SUM(ISNUMERIC([IUSA PARENT ID])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [IUSA PARENT ID - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([IUSA PARENT ID])),'') = '' THEN 1 ELSE 0 END) 
    , [BUSINESS STATUS CODE - MaxLen] = MAX(LEN([BUSINESS STATUS CODE]))
    , [BUSINESS STATUS CODE - MinLen] = MIN(LEN([BUSINESS STATUS CODE]))
    , [BUSINESS STATUS CODE - MaxVal] = MAX([BUSINESS STATUS CODE])        
    , [BUSINESS STATUS CODE - MinVal] = MIN([BUSINESS STATUS CODE])
    , [BUSINESS STATUS CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([BUSINESS STATUS CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [BUSINESS STATUS CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([BUSINESS STATUS CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [YEAR FIRST APPEARED IN YP - MaxLen] = MAX(LEN([YEAR FIRST APPEARED IN YP]))
    , [YEAR FIRST APPEARED IN YP - MinLen] = MIN(LEN([YEAR FIRST APPEARED IN YP]))
    , [YEAR FIRST APPEARED IN YP - MaxVal] = MAX([YEAR FIRST APPEARED IN YP])        
    , [YEAR FIRST APPEARED IN YP - MinVal] = MIN([YEAR FIRST APPEARED IN YP])
    , [YEAR FIRST APPEARED IN YP - IsNumeric] = CASE WHEN SUM(ISNUMERIC([YEAR FIRST APPEARED IN YP])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [YEAR FIRST APPEARED IN YP - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([YEAR FIRST APPEARED IN YP])),'') = '' THEN 1 ELSE 0 END) 
    , [BUS CREDIT SCORE CODE - MaxLen] = MAX(LEN([BUS CREDIT SCORE CODE]))
    , [BUS CREDIT SCORE CODE - MinLen] = MIN(LEN([BUS CREDIT SCORE CODE]))
    , [BUS CREDIT SCORE CODE - MaxVal] = MAX([BUS CREDIT SCORE CODE])        
    , [BUS CREDIT SCORE CODE - MinVal] = MIN([BUS CREDIT SCORE CODE])
    , [BUS CREDIT SCORE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([BUS CREDIT SCORE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [BUS CREDIT SCORE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([BUS CREDIT SCORE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [BUSINESS CREDIT SCORE CODE - MaxLen] = MAX(LEN([BUSINESS CREDIT SCORE CODE]))
    , [BUSINESS CREDIT SCORE CODE - MinLen] = MIN(LEN([BUSINESS CREDIT SCORE CODE]))
    , [BUSINESS CREDIT SCORE CODE - MaxVal] = MAX([BUSINESS CREDIT SCORE CODE])        
    , [BUSINESS CREDIT SCORE CODE - MinVal] = MIN([BUSINESS CREDIT SCORE CODE])
    , [BUSINESS CREDIT SCORE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([BUSINESS CREDIT SCORE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [BUSINESS CREDIT SCORE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([BUSINESS CREDIT SCORE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [BUSINESS CREDIT SCORE (ACTUAL) - MaxLen] = MAX(LEN([BUSINESS CREDIT SCORE (ACTUAL)]))
    , [BUSINESS CREDIT SCORE (ACTUAL) - MinLen] = MIN(LEN([BUSINESS CREDIT SCORE (ACTUAL)]))
    , [BUSINESS CREDIT SCORE (ACTUAL) - MaxVal] = MAX([BUSINESS CREDIT SCORE (ACTUAL)])        
    , [BUSINESS CREDIT SCORE (ACTUAL) - MinVal] = MIN([BUSINESS CREDIT SCORE (ACTUAL)])
    , [BUSINESS CREDIT SCORE (ACTUAL) - IsNumeric] = CASE WHEN SUM(ISNUMERIC([BUSINESS CREDIT SCORE (ACTUAL)])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [BUSINESS CREDIT SCORE (ACTUAL) - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([BUSINESS CREDIT SCORE (ACTUAL)])),'') = '' THEN 1 ELSE 0 END) 
    , [WORK AT HOME INDICATOR - MaxLen] = MAX(LEN([WORK AT HOME INDICATOR]))
    , [WORK AT HOME INDICATOR - MinLen] = MIN(LEN([WORK AT HOME INDICATOR]))
    , [WORK AT HOME INDICATOR - MaxVal] = MAX([WORK AT HOME INDICATOR])        
    , [WORK AT HOME INDICATOR - MinVal] = MIN([WORK AT HOME INDICATOR])
    , [WORK AT HOME INDICATOR - IsNumeric] = CASE WHEN SUM(ISNUMERIC([WORK AT HOME INDICATOR])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [WORK AT HOME INDICATOR - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([WORK AT HOME INDICATOR])),'') = '' THEN 1 ELSE 0 END) 
    , [OWN-LEASE CODE - MaxLen] = MAX(LEN([OWN-LEASE CODE]))
    , [OWN-LEASE CODE - MinLen] = MIN(LEN([OWN-LEASE CODE]))
    , [OWN-LEASE CODE - MaxVal] = MAX([OWN-LEASE CODE])        
    , [OWN-LEASE CODE - MinVal] = MIN([OWN-LEASE CODE])
    , [OWN-LEASE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([OWN-LEASE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [OWN-LEASE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([OWN-LEASE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [SQUARE FOOTAGE CODE - MaxLen] = MAX(LEN([SQUARE FOOTAGE CODE]))
    , [SQUARE FOOTAGE CODE - MinLen] = MIN(LEN([SQUARE FOOTAGE CODE]))
    , [SQUARE FOOTAGE CODE - MaxVal] = MAX([SQUARE FOOTAGE CODE])        
    , [SQUARE FOOTAGE CODE - MinVal] = MIN([SQUARE FOOTAGE CODE])
    , [SQUARE FOOTAGE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SQUARE FOOTAGE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SQUARE FOOTAGE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SQUARE FOOTAGE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [WEB ADDRESS - URL - MaxLen] = MAX(LEN([WEB ADDRESS - URL]))
    , [WEB ADDRESS - URL - MinLen] = MIN(LEN([WEB ADDRESS - URL]))
    , [WEB ADDRESS - URL - MaxVal] = MAX([WEB ADDRESS - URL])        
    , [WEB ADDRESS - URL - MinVal] = MIN([WEB ADDRESS - URL])
    , [WEB ADDRESS - URL - IsNumeric] = CASE WHEN SUM(ISNUMERIC([WEB ADDRESS - URL])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [WEB ADDRESS - URL - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([WEB ADDRESS - URL])),'') = '' THEN 1 ELSE 0 END) 
    , [COLLATERAL TYPE - MaxLen] = MAX(LEN([COLLATERAL TYPE]))
    , [COLLATERAL TYPE - MinLen] = MIN(LEN([COLLATERAL TYPE]))
    , [COLLATERAL TYPE - MaxVal] = MAX([COLLATERAL TYPE])        
    , [COLLATERAL TYPE - MinVal] = MIN([COLLATERAL TYPE])
    , [COLLATERAL TYPE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([COLLATERAL TYPE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [COLLATERAL TYPE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([COLLATERAL TYPE])),'') = '' THEN 1 ELSE 0 END) 
    , [COLLATERAL TYPE DESC - MaxLen] = MAX(LEN([COLLATERAL TYPE DESC]))
    , [COLLATERAL TYPE DESC - MinLen] = MIN(LEN([COLLATERAL TYPE DESC]))
    , [COLLATERAL TYPE DESC - MaxVal] = MAX([COLLATERAL TYPE DESC])        
    , [COLLATERAL TYPE DESC - MinVal] = MIN([COLLATERAL TYPE DESC])
    , [COLLATERAL TYPE DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([COLLATERAL TYPE DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [COLLATERAL TYPE DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([COLLATERAL TYPE DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [CORP OR IND - MaxLen] = MAX(LEN([CORP OR IND]))
    , [CORP OR IND - MinLen] = MIN(LEN([CORP OR IND]))
    , [CORP OR IND - MaxVal] = MAX([CORP OR IND])        
    , [CORP OR IND - MinVal] = MIN([CORP OR IND])
    , [CORP OR IND - IsNumeric] = CASE WHEN SUM(ISNUMERIC([CORP OR IND])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [CORP OR IND - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([CORP OR IND])),'') = '' THEN 1 ELSE 0 END) 
    , [DAY ADDED TO UCC DB - MaxLen] = MAX(LEN([DAY ADDED TO UCC DB]))
    , [DAY ADDED TO UCC DB - MinLen] = MIN(LEN([DAY ADDED TO UCC DB]))
    , [DAY ADDED TO UCC DB - MaxVal] = MAX([DAY ADDED TO UCC DB])        
    , [DAY ADDED TO UCC DB - MinVal] = MIN([DAY ADDED TO UCC DB])
    , [DAY ADDED TO UCC DB - IsNumeric] = CASE WHEN SUM(ISNUMERIC([DAY ADDED TO UCC DB])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [DAY ADDED TO UCC DB - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([DAY ADDED TO UCC DB])),'') = '' THEN 1 ELSE 0 END) 
    , [MONTH ADDED TO UCC DB - MaxLen] = MAX(LEN([MONTH ADDED TO UCC DB]))
    , [MONTH ADDED TO UCC DB - MinLen] = MIN(LEN([MONTH ADDED TO UCC DB]))
    , [MONTH ADDED TO UCC DB - MaxVal] = MAX([MONTH ADDED TO UCC DB])        
    , [MONTH ADDED TO UCC DB - MinVal] = MIN([MONTH ADDED TO UCC DB])
    , [MONTH ADDED TO UCC DB - IsNumeric] = CASE WHEN SUM(ISNUMERIC([MONTH ADDED TO UCC DB])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [MONTH ADDED TO UCC DB - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([MONTH ADDED TO UCC DB])),'') = '' THEN 1 ELSE 0 END) 
    , [YEAR ADDED TO UCC DB - MaxLen] = MAX(LEN([YEAR ADDED TO UCC DB]))
    , [YEAR ADDED TO UCC DB - MinLen] = MIN(LEN([YEAR ADDED TO UCC DB]))
    , [YEAR ADDED TO UCC DB - MaxVal] = MAX([YEAR ADDED TO UCC DB])        
    , [YEAR ADDED TO UCC DB - MinVal] = MIN([YEAR ADDED TO UCC DB])
    , [YEAR ADDED TO UCC DB - IsNumeric] = CASE WHEN SUM(ISNUMERIC([YEAR ADDED TO UCC DB])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [YEAR ADDED TO UCC DB - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([YEAR ADDED TO UCC DB])),'') = '' THEN 1 ELSE 0 END) 
    , [RECEIVED DAY - MaxLen] = MAX(LEN([RECEIVED DAY]))
    , [RECEIVED DAY - MinLen] = MIN(LEN([RECEIVED DAY]))
    , [RECEIVED DAY - MaxVal] = MAX([RECEIVED DAY])        
    , [RECEIVED DAY - MinVal] = MIN([RECEIVED DAY])
    , [RECEIVED DAY - IsNumeric] = CASE WHEN SUM(ISNUMERIC([RECEIVED DAY])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [RECEIVED DAY - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([RECEIVED DAY])),'') = '' THEN 1 ELSE 0 END) 
    , [RECEIVED MONTH - MaxLen] = MAX(LEN([RECEIVED MONTH]))
    , [RECEIVED MONTH - MinLen] = MIN(LEN([RECEIVED MONTH]))
    , [RECEIVED MONTH - MaxVal] = MAX([RECEIVED MONTH])        
    , [RECEIVED MONTH - MinVal] = MIN([RECEIVED MONTH])
    , [RECEIVED MONTH - IsNumeric] = CASE WHEN SUM(ISNUMERIC([RECEIVED MONTH])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [RECEIVED MONTH - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([RECEIVED MONTH])),'') = '' THEN 1 ELSE 0 END) 
    , [RECEIVED YEAR - MaxLen] = MAX(LEN([RECEIVED YEAR]))
    , [RECEIVED YEAR - MinLen] = MIN(LEN([RECEIVED YEAR]))
    , [RECEIVED YEAR - MaxVal] = MAX([RECEIVED YEAR])        
    , [RECEIVED YEAR - MinVal] = MIN([RECEIVED YEAR])
    , [RECEIVED YEAR - IsNumeric] = CASE WHEN SUM(ISNUMERIC([RECEIVED YEAR])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [RECEIVED YEAR - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([RECEIVED YEAR])),'') = '' THEN 1 ELSE 0 END) 
    , [DELIVERABILITY SCORE - MaxLen] = MAX(LEN([DELIVERABILITY SCORE]))
    , [DELIVERABILITY SCORE - MinLen] = MIN(LEN([DELIVERABILITY SCORE]))
    , [DELIVERABILITY SCORE - MaxVal] = MAX([DELIVERABILITY SCORE])        
    , [DELIVERABILITY SCORE - MinVal] = MIN([DELIVERABILITY SCORE])
    , [DELIVERABILITY SCORE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([DELIVERABILITY SCORE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [DELIVERABILITY SCORE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([DELIVERABILITY SCORE])),'') = '' THEN 1 ELSE 0 END) 
    , [DELIVERY POINT BARCODE - MaxLen] = MAX(LEN([DELIVERY POINT BARCODE]))
    , [DELIVERY POINT BARCODE - MinLen] = MIN(LEN([DELIVERY POINT BARCODE]))
    , [DELIVERY POINT BARCODE - MaxVal] = MAX([DELIVERY POINT BARCODE])        
    , [DELIVERY POINT BARCODE - MinVal] = MIN([DELIVERY POINT BARCODE])
    , [DELIVERY POINT BARCODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([DELIVERY POINT BARCODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [DELIVERY POINT BARCODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([DELIVERY POINT BARCODE])),'') = '' THEN 1 ELSE 0 END) 
    , [EXP DAY - MaxLen] = MAX(LEN([EXP DAY]))
    , [EXP DAY - MinLen] = MIN(LEN([EXP DAY]))
    , [EXP DAY - MaxVal] = MAX([EXP DAY])        
    , [EXP DAY - MinVal] = MIN([EXP DAY])
    , [EXP DAY - IsNumeric] = CASE WHEN SUM(ISNUMERIC([EXP DAY])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [EXP DAY - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([EXP DAY])),'') = '' THEN 1 ELSE 0 END) 
    , [EXP MONTH - MaxLen] = MAX(LEN([EXP MONTH]))
    , [EXP MONTH - MinLen] = MIN(LEN([EXP MONTH]))
    , [EXP MONTH - MaxVal] = MAX([EXP MONTH])        
    , [EXP MONTH - MinVal] = MIN([EXP MONTH])
    , [EXP MONTH - IsNumeric] = CASE WHEN SUM(ISNUMERIC([EXP MONTH])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [EXP MONTH - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([EXP MONTH])),'') = '' THEN 1 ELSE 0 END) 
    , [EXP YEAR - MaxLen] = MAX(LEN([EXP YEAR]))
    , [EXP YEAR - MinLen] = MIN(LEN([EXP YEAR]))
    , [EXP YEAR - MaxVal] = MAX([EXP YEAR])        
    , [EXP YEAR - MinVal] = MIN([EXP YEAR])
    , [EXP YEAR - IsNumeric] = CASE WHEN SUM(ISNUMERIC([EXP YEAR])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [EXP YEAR - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([EXP YEAR])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING DAY - MaxLen] = MAX(LEN([FILING DAY]))
    , [FILING DAY - MinLen] = MIN(LEN([FILING DAY]))
    , [FILING DAY - MaxVal] = MAX([FILING DAY])        
    , [FILING DAY - MinVal] = MIN([FILING DAY])
    , [FILING DAY - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING DAY])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING DAY - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING DAY])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING MONTH - MaxLen] = MAX(LEN([FILING MONTH]))
    , [FILING MONTH - MinLen] = MIN(LEN([FILING MONTH]))
    , [FILING MONTH - MaxVal] = MAX([FILING MONTH])        
    , [FILING MONTH - MinVal] = MIN([FILING MONTH])
    , [FILING MONTH - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING MONTH])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING MONTH - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING MONTH])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING YEAR - MaxLen] = MAX(LEN([FILING YEAR]))
    , [FILING YEAR - MinLen] = MIN(LEN([FILING YEAR]))
    , [FILING YEAR - MaxVal] = MAX([FILING YEAR])        
    , [FILING YEAR - MinVal] = MIN([FILING YEAR])
    , [FILING YEAR - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING YEAR])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING YEAR - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING YEAR])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING STATE - MaxLen] = MAX(LEN([FILING STATE]))
    , [FILING STATE - MinLen] = MIN(LEN([FILING STATE]))
    , [FILING STATE - MaxVal] = MAX([FILING STATE])        
    , [FILING STATE - MinVal] = MIN([FILING STATE])
    , [FILING STATE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING STATE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING STATE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING STATE])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING STATUS - MaxLen] = MAX(LEN([FILING STATUS]))
    , [FILING STATUS - MinLen] = MIN(LEN([FILING STATUS]))
    , [FILING STATUS - MaxVal] = MAX([FILING STATUS])        
    , [FILING STATUS - MinVal] = MIN([FILING STATUS])
    , [FILING STATUS - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING STATUS])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING STATUS - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING STATUS])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING STATUS DESC - MaxLen] = MAX(LEN([FILING STATUS DESC]))
    , [FILING STATUS DESC - MinLen] = MIN(LEN([FILING STATUS DESC]))
    , [FILING STATUS DESC - MaxVal] = MAX([FILING STATUS DESC])        
    , [FILING STATUS DESC - MinVal] = MIN([FILING STATUS DESC])
    , [FILING STATUS DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING STATUS DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING STATUS DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING STATUS DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING TYPE CODE - MaxLen] = MAX(LEN([FILING TYPE CODE]))
    , [FILING TYPE CODE - MinLen] = MIN(LEN([FILING TYPE CODE]))
    , [FILING TYPE CODE - MaxVal] = MAX([FILING TYPE CODE])        
    , [FILING TYPE CODE - MinVal] = MIN([FILING TYPE CODE])
    , [FILING TYPE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING TYPE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING TYPE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING TYPE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [FILING TYPE DESC - MaxLen] = MAX(LEN([FILING TYPE DESC]))
    , [FILING TYPE DESC - MinLen] = MIN(LEN([FILING TYPE DESC]))
    , [FILING TYPE DESC - MaxVal] = MAX([FILING TYPE DESC])        
    , [FILING TYPE DESC - MinVal] = MIN([FILING TYPE DESC])
    , [FILING TYPE DESC - IsNumeric] = CASE WHEN SUM(ISNUMERIC([FILING TYPE DESC])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [FILING TYPE DESC - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([FILING TYPE DESC])),'') = '' THEN 1 ELSE 0 END) 
    , [ORIGINAL FILING ID - MaxLen] = MAX(LEN([ORIGINAL FILING ID]))
    , [ORIGINAL FILING ID - MinLen] = MIN(LEN([ORIGINAL FILING ID]))
    , [ORIGINAL FILING ID - MaxVal] = MAX([ORIGINAL FILING ID])        
    , [ORIGINAL FILING ID - MinVal] = MIN([ORIGINAL FILING ID])
    , [ORIGINAL FILING ID - IsNumeric] = CASE WHEN SUM(ISNUMERIC([ORIGINAL FILING ID])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [ORIGINAL FILING ID - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([ORIGINAL FILING ID])),'') = '' THEN 1 ELSE 0 END) 
    , [PARTY TYPE CODE - MaxLen] = MAX(LEN([PARTY TYPE CODE]))
    , [PARTY TYPE CODE - MinLen] = MIN(LEN([PARTY TYPE CODE]))
    , [PARTY TYPE CODE - MaxVal] = MAX([PARTY TYPE CODE])        
    , [PARTY TYPE CODE - MinVal] = MIN([PARTY TYPE CODE])
    , [PARTY TYPE CODE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([PARTY TYPE CODE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [PARTY TYPE CODE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([PARTY TYPE CODE])),'') = '' THEN 1 ELSE 0 END) 
    , [SOURCE FILING ID - MaxLen] = MAX(LEN([SOURCE FILING ID]))
    , [SOURCE FILING ID - MinLen] = MIN(LEN([SOURCE FILING ID]))
    , [SOURCE FILING ID - MaxVal] = MAX([SOURCE FILING ID])        
    , [SOURCE FILING ID - MinVal] = MIN([SOURCE FILING ID])
    , [SOURCE FILING ID - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SOURCE FILING ID])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SOURCE FILING ID - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SOURCE FILING ID])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC PARTY NAME - MaxLen] = MAX(LEN([SEC PARTY NAME]))
    , [SEC PARTY NAME - MinLen] = MIN(LEN([SEC PARTY NAME]))
    , [SEC PARTY NAME - MaxVal] = MAX([SEC PARTY NAME])        
    , [SEC PARTY NAME - MinVal] = MIN([SEC PARTY NAME])
    , [SEC PARTY NAME - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC PARTY NAME])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC PARTY NAME - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC PARTY NAME])),'') = '' THEN 1 ELSE 0 END) 
    , [SECURED PARTY ADDRESS - MaxLen] = MAX(LEN([SECURED PARTY ADDRESS]))
    , [SECURED PARTY ADDRESS - MinLen] = MIN(LEN([SECURED PARTY ADDRESS]))
    , [SECURED PARTY ADDRESS - MaxVal] = MAX([SECURED PARTY ADDRESS])        
    , [SECURED PARTY ADDRESS - MinVal] = MIN([SECURED PARTY ADDRESS])
    , [SECURED PARTY ADDRESS - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SECURED PARTY ADDRESS])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SECURED PARTY ADDRESS - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SECURED PARTY ADDRESS])),'') = '' THEN 1 ELSE 0 END) 
    , [SECURED PARTY CITY - MaxLen] = MAX(LEN([SECURED PARTY CITY]))
    , [SECURED PARTY CITY - MinLen] = MIN(LEN([SECURED PARTY CITY]))
    , [SECURED PARTY CITY - MaxVal] = MAX([SECURED PARTY CITY])        
    , [SECURED PARTY CITY - MinVal] = MIN([SECURED PARTY CITY])
    , [SECURED PARTY CITY - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SECURED PARTY CITY])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SECURED PARTY CITY - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SECURED PARTY CITY])),'') = '' THEN 1 ELSE 0 END) 
    , [SEC PARTY STATE - MaxLen] = MAX(LEN([SEC PARTY STATE]))
    , [SEC PARTY STATE - MinLen] = MIN(LEN([SEC PARTY STATE]))
    , [SEC PARTY STATE - MaxVal] = MAX([SEC PARTY STATE])        
    , [SEC PARTY STATE - MinVal] = MIN([SEC PARTY STATE])
    , [SEC PARTY STATE - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SEC PARTY STATE])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SEC PARTY STATE - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SEC PARTY STATE])),'') = '' THEN 1 ELSE 0 END) 
    , [SECURED PARTY ZIP - MaxLen] = MAX(LEN([SECURED PARTY ZIP]))
    , [SECURED PARTY ZIP - MinLen] = MIN(LEN([SECURED PARTY ZIP]))
    , [SECURED PARTY ZIP - MaxVal] = MAX([SECURED PARTY ZIP])        
    , [SECURED PARTY ZIP - MinVal] = MIN([SECURED PARTY ZIP])
    , [SECURED PARTY ZIP - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SECURED PARTY ZIP])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SECURED PARTY ZIP - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SECURED PARTY ZIP])),'') = '' THEN 1 ELSE 0 END) 
    , [SECURED PARTY ZIP4 - MaxLen] = MAX(LEN([SECURED PARTY ZIP4]))
    , [SECURED PARTY ZIP4 - MinLen] = MIN(LEN([SECURED PARTY ZIP4]))
    , [SECURED PARTY ZIP4 - MaxVal] = MAX([SECURED PARTY ZIP4])        
    , [SECURED PARTY ZIP4 - MinVal] = MIN([SECURED PARTY ZIP4])
    , [SECURED PARTY ZIP4 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([SECURED PARTY ZIP4])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [SECURED PARTY ZIP4 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([SECURED PARTY ZIP4])),'') = '' THEN 1 ELSE 0 END) 
    , [match code - MaxLen] = MAX(LEN([match code]))
    , [match code - MinLen] = MIN(LEN([match code]))
    , [match code - MaxVal] = MAX([match code])        
    , [match code - MinVal] = MIN([match code])
    , [match code - IsNumeric] = CASE WHEN SUM(ISNUMERIC([match code])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [match code - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([match code])),'') = '' THEN 1 ELSE 0 END) 
    , [Fulfillment Flag - MaxLen] = MAX(LEN([Fulfillment Flag]))
    , [Fulfillment Flag - MinLen] = MIN(LEN([Fulfillment Flag]))
    , [Fulfillment Flag - MaxVal] = MAX([Fulfillment Flag])        
    , [Fulfillment Flag - MinVal] = MIN([Fulfillment Flag])
    , [Fulfillment Flag - IsNumeric] = CASE WHEN SUM(ISNUMERIC([Fulfillment Flag])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [Fulfillment Flag - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([Fulfillment Flag])),'') = '' THEN 1 ELSE 0 END) 
    , [Key Code 1 - MaxLen] = MAX(LEN([Key Code 1]))
    , [Key Code 1 - MinLen] = MIN(LEN([Key Code 1]))
    , [Key Code 1 - MaxVal] = MAX([Key Code 1])        
    , [Key Code 1 - MinVal] = MIN([Key Code 1])
    , [Key Code 1 - IsNumeric] = CASE WHEN SUM(ISNUMERIC([Key Code 1])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [Key Code 1 - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([Key Code 1])),'') = '' THEN 1 ELSE 0 END) 
    , [InfoId - MaxLen] = MAX(LEN([InfoId]))
    , [InfoId - MinLen] = MIN(LEN([InfoId]))
    , [InfoId - MaxVal] = MAX([InfoId])        
    , [InfoId - MinVal] = MIN([InfoId])
    , [InfoId - IsNumeric] = CASE WHEN SUM(ISNUMERIC([InfoId])) = 6901 THEN 'Numeric' ELSE 'Non-Numeric' END
    , [InfoId - BlankOrNullCount] = SUM(CASE WHEN ISNULL(LTRIM(RTRIM([InfoId])),'') = '' THEN 1 ELSE 0 END) 
  FROM
    imp.MenuUniverseExtract_T1_IFG_Matched 
  GO





