/*┌─────────────────────────────────────────────────────────────────────────────────────────────┐*\
  │ TITLE: Creates a data profiling view for AdventureWorks_0007.dbo.DnbNoNames_Archive                         │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ DESCRIPTION:                                                                                │
  │                                                                                             │
  │   Initially Auto-Generated by PowerShell Script:                                            │
  │     C:\Users\bwarner\Documents\Git\Analytics\Direct                                         │
  │     Mail\vNext\DevTools\GenerateDataProfilingView2.ps                                       │
  │   Function:                                                                                 │
  │     Write-DataProfileScript                                                                 │  
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ REVISION HISTORY:                                                                           │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │   DATE       AUTHOR          CHANGE DESCRIPTION                                             │
  │   ────────── ─────────────── ───────────────────────────────────────────────────────────────┤
  │   2018.10.20 bwarner         Initial Draft                                                  │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
  │ UNIT TESTING SCRIPTS:                                                                       │
  ├─────────────────────────────────────────────────────────────────────────────────────────────┤
     SELECT * FROM dbo.vw_DnbNoNames_Archive_DataProfile ORDER BY 1 ASC
  
\*└─────────────────────────────────────────────────────────────────────────────────────────────┘*/

USE AdventureWorks_0007
GO

  /*┌─────────────────────────────────────────────────────────────────────┐*\
    │ Create View: dbo.vw_DnbNoNames_Archive_DataProfile                  │
  \*└─────────────────────────────────────────────────────────────────────┘*/
  
  IF OBJECT_ID('dbo.vw_DnbNoNames_Archive_DataProfile','view') IS NOT NULL
   DROP VIEW dbo.vw_DnbNoNames_Archive_DataProfile
  GO

  CREATE VIEW
    dbo.vw_DnbNoNames_Archive_DataProfile
  AS
  WITH 
      RowCnt AS
        (
          SELECT RowCnt = COUNT(*) 
          FROM [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
        )
    , ColumnByMetic AS
        (
          SELECT
              ColName
            , Metric
            , Value
          FROM
            (

                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([Duns Number])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([Duns Number])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL          
          
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([Duns Number]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([Duns Number]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  
                UNION ALL          
          
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [Duns Number]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
          
                UNION ALL
                
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'MaxLen'
                  , Value   = CAST(MAX(LEN([Duns Number])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'MinLen'
                  , Value   = CAST(MIN(LEN([Duns Number])) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
               
                UNION ALL
                
                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'IsNumeric'
                  , Value   = CAST(CASE 
                                WHEN NumericRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      NumericRowCnt = SUM(ISNUMERIC(CAST([Duns Number] AS NVARCHAR(MAX))))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'NumericRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([Duns Number] AS NVARCHAR(MAX)))) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL

                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'IsInteger'
                  , Value   = CAST(CASE 
                                WHEN IntegerRowCnt = rc.RowCnt 
                                  THEN 'Yes' 
                                ELSE 'No' 
                              END AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                     IntegerRowCnt = SUM(ISNUMERIC(CAST([Duns Number] AS NVARCHAR(MAX)) + '.0e0'))
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc
                  
                UNION ALL

                SELECT
                    ColName = 'Duns Number'
                  , Metric  = 'IntegerRowCnt'
                  , Value   = CAST(SUM(ISNUMERIC(CAST([Duns Number] AS NVARCHAR(MAX)) + '.0e0')) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]               
              
                UNION ALL


                SELECT
                    ColName = 'startDate'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([startDate])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL

                SELECT
                    ColName = 'startDate'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([startDate])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL          
          
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  
                UNION ALL          
          
                SELECT
                    ColName = 'startDate'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [startDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
              
                UNION ALL


                SELECT
                    ColName = 'endDate'
                  , Metric  = 'BlankOrNullCount'
                  , Value   = CAST(SUM
                                (
                                  CASE 
                                    WHEN ISNULL(LTRIM(RTRIM([endDate])),'') = '' 
                                      THEN 1 
                                    ELSE 0 
                                  END
                                ) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL

                SELECT
                    ColName = 'endDate'
                  , Metric  = 'BlankOrNullPct'
                  , Value   = CAST(((CAST(x.BlankOrNullCnt AS FLOAT)/CAST(rc.RowCnt AS FLOAT))*100.0) AS VARCHAR(MAX))
                FROM
                  (
                    SELECT 
                      BlankOrNullCnt = SUM(
                                            CASE 
                                              WHEN ISNULL(LTRIM(RTRIM([endDate])),'') = '' 
                                                THEN 1 
                                              ELSE 0 
                                            END
                                          )
                    FROM
                      [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  ) x
                  CROSS JOIN
                  RowCnt rc

                UNION ALL          
          
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MaxVal'
                  , Value   = CAST(MAX([endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]

                UNION ALL
                
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'MinVal'
                  , Value   = CAST(MIN([endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
                  
                UNION ALL          
          
                SELECT
                    ColName = 'endDate'
                  , Metric  = 'DistinctValCnt'
                  , Value   = CAST(COUNT(DISTINCT [endDate]) AS VARCHAR(MAX))
                FROM
                  [AdventureWorks_0007].[dbo].[DnbNoNames_Archive]
            ) x
        )

    , ByColPivot AS
        (
          SELECT
              ColName
            , MaxLen
            , MinLen
            , MaxVal
            , MinVal
            , DistinctValCnt
            , [IsNumeric]
            , IsInteger
            , IntegerRowCnt
            , NumericRowCnt
            , BlankOrNullCount
            , BlankOrNullPct
            , UnicodeCnt
            , UnicodePct
          FROM
            ColumnByMetic
          PIVOT 
            (
              MAX([Value])
              FOR Metric IN
                (
                    [MaxLen]
                  , [MinLen]
                  , [MaxVal]
                  , [MinVal]
                  , [DistinctValCnt]
                  , [IsNumeric]
                  , [IsInteger]
                  , [IntegerRowCnt]
                  , [NumericRowCnt]
                  , [BlankOrNullCount]
                  , [BlankOrNullPct]
                  , [UnicodeCnt]
                  , [UnicodePct]
                )
            ) x        
        )
 
    , SmallestSquareLen_OrdPos_Calc AS
        (
          SELECT
              OrdinalPos                    = isc.ORDINAL_POSITION
            , SmallestSquareLen             = CASE 
                                                WHEN MaxLen < 16
                                                  THEN LTRIM(RTRIM(STR(MaxLen)))
                                                WHEN MaxLen < 24
                                                  THEN '32'
                                                WHEN MaxLen < 48
                                                  THEN '64'
                                                WHEN MaxLen < 96
                                                  THEN '128'
                                                WHEN MaxLen < 192
                                                  THEN '256'
                                                WHEN MaxLen < 384
                                                  THEN '512'
                                                WHEN MaxLen < 768
                                                  THEN '1024'
                                                WHEN MaxLen < 1536
                                                  THEN '2048'
                                                WHEN MaxLen < 1536
                                                  THEN '2048'
                                                WHEN MaxLen < 3072
                                                  THEN '4096'
                                                WHEN MaxLen < 6144
                                                  THEN '8192'
                                                ELSE 'MAX'
                                              END
            , [DATA_TYPE]                   = UPPER(isc.[DATA_TYPE])
            , isc.[CHARACTER_MAXIMUM_LENGTH]
            , isc.[IS_NULLABLE]
            , isc.[NUMERIC_PRECISION]
            , isc.[NUMERIC_SCALE]
            , isc.[DATETIME_PRECISION]
            , piv.*            
          FROM
            ByColPivot piv            
            LEFT JOIN [AdventureWorks_0007].INFORMATION_SCHEMA.COLUMNS isc            
              ON piv.ColName = isc.COLUMN_NAME
              AND isc.TABLE_SCHEMA  = 'dbo'
              AND isc.TABLE_NAME    = 'DnbNoNames_Archive'     
        )
    , CharTypeDefStr_Calc AS
        (
          SELECT
              calc.*
            , CharTypeDefStr  = CASE 
                                  WHEN CAST(UnicodePct AS FLOAT) = 0.0 
                                    THEN 'VARCHAR(' + SmallestSquareLen + ')'
                                  ELSE
                                    'NVARCHAR(' + SmallestSquareLen + ')'
                                END   
          FROM
            SmallestSquareLen_OrdPos_Calc calc  
        )     

    , Nullability_Calc AS
        (
          SELECT
              calc.*
            , DataTypeStrNative = CASE
                                    WHEN [DATA_TYPE] IN(
                                                            'datetime'
                                                          , 'date'
                                                          , 'time'
                                                          , 'text'
                                                          , 'ntext'
                                                          , 'xml'
                                                          , 'money'
                                                          , 'bigint'
                                                          , 'bit'
                                                          , 'int'
                                                          , 'smallint'
                                                          , 'tinyint'
                                                          , 'real'
                                                        )
                                      THEN [DATA_TYPE]            

                                    WHEN [DATA_TYPE] LIKE '%char' OR [DATA_TYPE] LIKE '%binary'  
                                      THEN [DATA_TYPE] + '(' + REPLACE(LTRIM(RTRIM(STR([CHARACTER_MAXIMUM_LENGTH]))),'-1','MAX') + ')'

                                    WHEN [DATA_TYPE] = 'datetime2' 
                                      THEN [DATA_TYPE] + '(' + LTRIM(RTRIM(STR([DATETIME_PRECISION]))) + ')'

                                    WHEN [DATA_TYPE] = 'float' 
                                      THEN [DATA_TYPE] + '(' + LTRIM(RTRIM(STR([NUMERIC_PRECISION]))) + ')'              

                                    WHEN [DATA_TYPE] IN('decimal', 'numeric')
                                      THEN [DATA_TYPE] + '(' + LTRIM(RTRIM(STR([NUMERIC_PRECISION]))) + ',' + LTRIM(RTRIM(STR([NUMERIC_SCALE])))  + ')'     

                                  END 
                                + CASE 
                                    WHEN IS_NULLABLE = 'yes' 
                                      THEN ' NULL' 
                                    ELSE ' NOT NULL' 
                                  END
            , Nullability       = CASE 
                                    WHEN CAST(BlankOrNullPct AS FLOAT) = 100.0 
                                      THEN ' NULL'
                                    ELSE ' NOT NULL'
                                  END
          FROM
            CharTypeDefStr_Calc calc
        )             
        
  SELECT
      calc.OrdinalPos
    , calc.ColName
    , calc.MaxLen
    , calc.MinLen
    , calc.MaxVal
    , calc.MinVal
    , calc.DistinctValCnt
    , calc.IsNumeric
    , calc.IsInteger
    , calc.IntegerRowCnt    
    , calc.NumericRowCnt
    , calc.BlankOrNullCount
    , calc.BlankOrNullPct
    , calc.UnicodeCnt
    , calc.UnicodePct
    --, calc.SmallestSquareLen
    , TypeDef  = ', [' + ColName + '] ' + CASE 
                                            WHEN [DATA_TYPE] LIKE '%char' OR [DATA_TYPE] LIKE '%text' 
                                              THEN
                                                CharTypeDefStr + Nullability
                                            ELSE
                                              DataTypeStrNative
                                END         
  FROM
    Nullability_Calc calc

GO





